################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Week3/Restaurant/.vs/Restaurant/v16
/Week3/Week 3 Code Along/.vs/Week 3 Code Along/v16/Server/sqlite3
/Week3/Week 3 Code Along/Week 3 Code Along/obj/Debug
/Week3/Week 3 Code Along/Week 3 Code Along/bin/Debug
/Week3/Week 3 Code Along/.vs/Week 3 Code Along/v16/.suo
/Week3/Restaurant/Restaurant/obj/Debug
/Week3/Restaurant/Restaurant/My Project/MyExtensions
