################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Week3/Restaurant/.vs/Restaurant/v16
